.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%; 
  min-width: 0;
  padding-left: 1rem;
}


@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}


@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 33.3333%;
  }
}